@charset "UTF-8";

#header-wrapper {
    width: 100%;
    position: fixed;
    z-index: 1000; }

div {
    display: block; }
      
ul {
    list-style-type: none; }
      
li {
    display: list-item; }

* {
    margin: 0;
    padding: 0; }
body {
    font-family: arial, sans-serif;}

.sb-slidebar #gnavi li {
        padding: 15px 15px;
        font-family: "Roboto Condensed", sans-serif !important; }
      
.sb-slidebar .sns {
        width: 150px;
        margin: auto;
        text-align: center;
        padding-top: 30px;
        font-size: 12px;
        font-family: "Roboto Condensed", sans-serif !important; }
.sb-slidebar header {
            height: auto; }      