* { box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: "Josefin Sans", sans-serif;
    -webkit-text-size-adjust: 100%;
    color: black;
    margin-top: 100px;
}