nav.navbar {
    background-color: white;
    opacity: 0.85;
}

.navbar ul.navbar-nav li.nav-item a.nav-link {
	color: black;
    font-size: 18px;
    padding: 20px;
}

.navbar ul.navbar-nav li.nav-item a:hover { color:red; }

body {
    margin-top: 120px;
    font-family: "Josefin Sans", sans-serif;
}

@media screen and (max-width: 768px) body .description {
    line-height: 170%;
}

body .title {

    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    color: black;
    font-size: 25px;
    font-weight: 1;
}

body .description {

    padding-left: 500px;
    padding-right: 500px;
    padding-bottom: 25px;
}

body .description-images {
    width: 100%;
    position: relative;
    text-align: center;
}

body .button {
    clear: both;
    margin: auto;
    padding-bottom: 30px;
    text-align: center;
    letter-spacing: 1px;
    color: black;
    padding: 0;
    width: 400px;
    font-size: 12px;
    display: inline-block;
    border: 1px solid black;
    transition: .3s;
}

footer { 

    text-align: center;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}