/* CSS Document */
@charset "utf-8";

html {
    display: border-box;
}

* {
    display: border-box;
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}


div {
    display: block;
}

ul {
    list-style-type: none;
}

li {
    display: list-item;
}

body {
    -webkit-text-size-adjust: 100%;
    background-color: white !important;
    color: black;
    font-family: "Josefin Sans", sans-serif;
    margin-top: 100px;
    text-align: center;
    letter-spacing: 1px;
}

body a:hover {
    text-decoration: none;
}

.fotorama {
    display: block;
    width: 100%;
}

body .title {

    padding-top: 30px;
    padding-bottom: 25px;
    color: black;
    font-size: 25px;
    font-weight: 100;
}

body .description {
    display: block;
    font-size: 13px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 300px;
    padding-right: 300px;
}

.button {
    display: inline-block;
    text-align: center;
    letter-spacing: 1px;
    width: 400px;
    font-size: 12px;
    border: 1px solid black;
    background-color: white;
    opacity: 0.85;
    position: relative;
    max-height: 75%;
    margin: 0;
}

.pictures {

    margin: 0;
    padding: 0;
    margin-bottom: 75px;
}

.button a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 0;
}

.button:hover {
    color:white !important;
    background: red;
    opacity: 0.85;
}

nav.navbar {
    background-color: white;
    opacity: 0.85;
    padding-left:10px;
    padding-top:0;
    padding-bottom: 0;
    margin:0;
}

.navbar ul.navbar-nav li.nav-item a.nav-link {
	color: black;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.navbar ul.navbar-nav li.nav-item a:hover { color:red; }



#menu-wrapper{
    display: block;
    background: url(images/vertical.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    text-align: center;
    padding: 100px;
    width: 100%;
    margin-top: 50px;
    max-width: 100%;
}

#location-wrapper{
    display: block;
    background: url(images/location.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    text-align: center;
    padding: 100px;
    width: 100%;
}

#merchandise-wrapper{
    display: block;
    background: url(images/.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    text-align: center;
    padding: 100px;
    width: 100%;
}

#support-wrapper{
    display: block;
    background: url(images/nyc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    text-align: center;
    padding: 100px;
    width: 100%;
    margin-top: 50px;
    max-width: 100%;
}

#sponsor-wrapper{
    display: block;
    background: url(images/japan.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    text-align: center;
    padding: 100px;
    width: 100%;
    margin-top: 50px;
    max-width: 100%;
}

.ramen-menu{
    text-align: center;
}

h1 {
    padding-top:40px;
    margin-bottom:10px;
}

.menu-item-title {
    padding-top:30px;
    font-weight: 500;
    font-size: 18px;
}

.menu-item-description {
    font-size:13px;
    font-weight: 100;
    padding-top:5px;
}

#location-background {
    background: url(images/location.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
    text-align: center;
    padding: 100px;
    margin-top:50px;
    max-width: 100%;
}

.origin-container {

    margin-bottom: 90px;
}

.origin-description {
    float: left;
    clear: right;
    margin-right: 150px;
    padding-right: 100px;
    text-align: left;
    font-size: 13px;
    letter-spacing: 1px;
}

.origin-picture {
    float: right;
    clear: left;
}

.location-container {
    margin-bottom: 25px;
    font-size: 13px;
}

table {
	width: 100%;
	border: none;
	margin-bottom:1em; 
    margin-right: 200px;
    padding-top: 50px;
}

td, th {
	padding: 10px;
    border:none;
    text-align: left;
    font-size: 15px;
}

td a:hover{color:red;}

.sec1 a:hover{color:red;}

strong{font-size: 25px;}

.location {
    display: inline-block;
    padding: 10px;
}

.location-address{
    float: right;
    padding-top:80px;
    padding-right: 50px;
}

.location-address2{
    float: right;
    padding-top:80px;
    padding-right: 50px;
}

div h3,p,a {margin-right: 100px;}

.section{
    float: left;
    margin-left:200px; 
    padding-top:50px;
    position: relative;

}

.section2{
    float: left;
    margin-left:200px; 
    padding-top:50px;
    position: relative;
}

.section2,.location-address2{padding-bottom: 50px;}

#contact-background {
    background: url(images/background-design.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#address-area {
    float: left;
}

h6 {
    font-weight: bold;
}

.contact-image{
    clear: both;
}

.sec1 {
    text-align: left;
    margin-right: 25px;
    font-size: 13px;
    
}

.sec2 {
    margin-left: 25px;
    font-size: 13px;
}

img {
    padding:5px;
}

footer { 

    text-align: center;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    clear: both;
}

.colorchange {
    filter: grayscale(100%);
    transition: all 1s ease;
}

.colorchange:hover {
    filter: grayscale(0%);
}

#thanks {
    display: block;
    background: url(images/thanks.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1100px;
    text-align: center;
    padding: 100px;
    width: 100%;
    margin-top: 50px;
    max-width: 100%;
    position: relative;
}

.thanks-button {
    display: inline-block;
    text-align: center;
    letter-spacing: 1px;
    width: 400px;
    font-size: 12px;
    border: 1px solid black;
    background-color: white;
    opacity: 0.85;
    position: relative;
    max-height: 75%;
    margin: 0;
    margin-top: 400px;
}

.thanks-button a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 0;
}

.thanks-button:hover {
    color:white !important;
    background: red;
    opacity: 0.85;
}

@media screen and (max-width: 768px) {

    #wrapper {
        width: auto;
    }

    nav {
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    nav a{text-align: center;}

    body {
        margin: 0 !important;
        padding: 0 !important;
        height: auto;
        overflow-x: hidden;
        }

    .description {

        margin: 0 !important;
        padding: 0 !important;
    }

    .description img {

        position: relative;
        width: 100%;
        height: auto;
    }

    .button-section{

        margin-top: 75px;
    }

    form {
        margin: 0;
    }

    .sec1, .sec2 {
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        position: relative;
    }

    .origin-picture {
        float: left;
        position: relative;
    }

    .origin-description {
        margin: 0;
        padding: 0;
        float: left;
    }

    .origin-container {
        display: inline-block;
        max-height: 1375px;
    }

    .location-address, .location-address2{
        padding-bottom: 0;
        margin-bottom: 0;
        float: left;
    }
    .section,.section2{
        float: left;
        margin: 0;
        padding:0;
        width:auto;
        box-sizing: border-box;
    }
}


@media screen and (max-width: 1024px) {

    #wrapper {
        width: auto;
    }

    nav {
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    nav a{text-align: center;}

    body {
        margin: 0 !important;
        padding: 0 !important;
        height: auto;
    }

    .description {

        margin: 0 !important;
        padding: 0 !important;
    }

    .description img {

        position: relative;
        width: 100%;
        height: auto;
    }

    .button-section {

        margin-top: 75px;
    }

    form {
        margin: 0;
    }

    .sec1, .sec2  {
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        position: relative;
    }

    .origin-picture {
        float: left;
        position: relative;
    }

    .origin-description {
        margin: 0;
        padding: 0;
        float: left;
    }

    .origin-container {
        display: inline-block;
        max-height: 1375px;
    }

    .location-address,.location-address2, .section, .section2{
        display: block;
        float:left;
        padding-left:0;
        margin-left: 0;
        position: relative;

    }


}
