/* CSS Document */
@charset "utf-8";

header, nav, footer { display: block }

* { box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: "Josefin Sans", sans-serif;
    -webkit-text-size-adjust: 100%;
    background-color: white !important;
    color: black;
    margin-top: 100px;
}

#wrapper {

    background-color: white;
    margin: auto;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

li {
    display: list-item;
}

nav.navbar {
    background-color: white;
    opacity: 0.85;
    padding-left:10px;
    padding-top:0;
    padding-bottom: 0;
    margin:0;
}

.navbar ul.navbar-nav li.nav-item a.nav-link {
	color: black;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.navbar ul.navbar-nav li.nav-item a:hover { color:red; }

h4 {
    text-align: center;
}

footer { 

    text-align: center;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

@media screen and (max-width: 768px) {

    #wrapper {

    }
}